@import 'https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic';

$onyx: #3E363F;
$cinnabar: #DD403A;
$cosmiclatte: #FFFCE8;

body {
  font-family: 'Caveat', cursive;
	background-image: url(https://unsplash.it/1400/799);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $onyx;
	height: 100vh;
	overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}

.Form {
  background: $onyx;
  width: 200px;
  border-radius: 2px;
  padding: 20px;
  color: white;
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
	  font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background: $cinnabar;
    color: white;
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    outline: none;
    
    &:hover {
      transform: scale(1.02);
    }
    
    &:active {
      transform: scale(.99);
    }
  }
}


.Input {
  
  display: flex;
  border-bottom: 1px solid rgba($cosmiclatte, .1);
  margin-bottom: 5px;
  padding-bottom: 3px;
  
  input {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 14px;
    color: $cosmiclatte;
    
    &:focus ~ label {
      opacity: 1;
    }
    
		
    &[type='email'] ~ label::before {
      content: "\f1fa";
		}
		
    &[type='password'] ~ label::before {
      content: "\f023";	
    }
  }
  
	label {
		font-family: FontAwesome;
		font-size: 13px;
		opacity: .9;
		transition: opacity .5s ease;
		
		&::before {
			align-items: center;
			color: $cosmiclatte;
			display: flex;
			height: 30px;
			justify-content: center;
			width: 30px;
      border: 4px solid;
		}
	}
}